<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="activitywatch" />
  <package id="adobereader" />
  <package id="caffeine" />
  <package id="calibre" />
  <package id="docker-desktop" />
  <package id="FiraCode" />
  <package id="Firefox" />
  <package id="git" />
  <package id="hashmyfiles" />
  <package id="imagemagick" />
  <package id="jetbrainstoolbox" />
  <package id="Mahou" />
  <package id="miniconda3" installArguments="/AddToPath:1" />
  <package id="notion" />
  <package id="openvpn" />
  <package id="owncloud-client" />
  <package id="pdftk" />
  <package id="steam" />
  <package id="teamviewer" />
  <package id="vscode" />
  <package id="zeal" />
  <package id="zoom" />
</packages>
