name: Linkspector
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
jobs:
  check-links:
    name: Check links
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Run linkspector
        uses: umbrelladocs/action-linkspector@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          fail_on_error: true
          filter_mode: nofilter
